<div class="container-fluid footer py-5">
    <div class="row">
        <div class="col-md-6 my-3 text-center">
            <span>206-999-63-87 (cell)<br>360-730-2346 (office)<br>hollowlogplumbing@gmail.com</span>
        </div>
        <div class="col-md-6 my-3 text-center text-capitalize">
            <span>licensed, bonded, and insured.<br>license # HOLLOLP850PH<br>
            <i class="fas fa-toolbox"></i> servicing south whidbey island</span>
        </div>
    </div>
</div>

<!-- jquery -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!--magnific popup-->
<script src="/js/jquery.magnific-popup.js"></script>
<!--isotope CDN-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<!--isotope images loaded CDN-->
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<!-- script js -->
<script src="/js/script.js"></script>
    </body>
</html>