<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Residential and commercial plumber. Call 206-999-6387. Over 30 years experience in Seattle and the Northwest. Company serving South Whidbey Island.">
        <!--Site verifications-->
        <meta name="google-site-verification" content="I7do0JXI5fXEDy0tNRxd6Ay97ZkrTKusAFpK83OYPYE" />
        <meta name="msvalidate.01" content="EEC7BFAD3F4C3DB275E99A74EA9B7A4C" />
        <title>Hollow Log Plumbing | South Whidbey Island</title>
        
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!--magnific-popup-->
        <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
        <!-- font awesome -->
        <script src="/js/all.js"></script>
        <!--favicon-->
        <link rel="icon" href="img/waterpark.png">

    </head>
    <body>

<!--preloader-->
<div class="preloader d-flex justify-content-center align-items-center">
    <img src="img/preloader.gif" alt="preloader">
</div>
<!--end of preloader-->

<!--nav element-->
<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/">Hollow Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text d-none d-md-block"><i class="fas fa-phone"></i> 206-999-6387</span>
</nav>
<!--end of nav element-->