<% include ./partials/header %>

<div class="post">
    <h1>We Believe</h1>
    <ul>
        <li><p>Good communication is paramount to a good relationship.</p></li>
        <li><p>Construction is a problem needing to be solved.</p></li>
        <li><p>The sanctity of another's home no matter their means.</p></li>
    </ul>
</div>
<hr>
<div class="row post">
    <div class="col-md-6">
        <h1>Why "Hollow Log"?</h1>
        <p>Hollow logs were used as early American water, sewer, and fire systems. As of 2009, Chelan, WA had over 500 feet of hollow log pipe still in use, as well as unused wood water pipe on display in their public works office.</p>
        <p>Having worked on very old homes and buildings in the Seattle area for over 30 years, we grew to admire and respect the generations of plumbers who invented, designed, and built these systems. Hollow Log Plumbing is simply a nod of appreciation to the generations of plumbers that came before us.</p>
    </div>
    <div class="col-md-6 text-center">
        <img class="img-thumbnail rounded" src="https://i.imgur.com/gX910Ge.jpg">
        <div class="caption">Hollow Log Pipe</div>
    </div>
</div>
<hr>
<div class="row post">
    <div class="col-md-6">
        <h1>Our Story</h1>
        <p>Mark Schlieps began plumbing at age 19 in the non-union sector, doing a wide variety of residential and commercial work. After 5 years he opened Plumb-Rite in 1988, specializing in residential remodels, repipes, and commercial restaurants such as Red Robin and Azteca.</p> 
        <p>After 11 successful years of business, Mark joined UA Local 32 Plumbers and Pipefitters. He cultivated 17 years of his career in the union working in the core of downtown Seattle and Bellevue, repiping occupied apartments and commercial buildings.</p> 
        <p>Now, with over 35 years of experience, Mark owns and operates Hollow Log Plumbing and has returned to his roots in residential remodels and commercial tenant improvements.</p>
    </div>
    <div class="col-md-6 text-center">
        <img class="img-thumbnail rounded" src="https://i.imgur.com/BZivcYI.jpg">
        <div class="caption">Downtown Seattle</div>
    </div>
</div>

<% include ./partials/footer %>