<% include ./partials/header %>

<!--our story section-->
<div class="container-fluid header-about p-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <!--section title-->
        <div class="row my-4">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                <h1 class="font-weight-bold align-self-center mx-1 text-shadow">our</h1>
                <h1 class="section-title--special mx-1">story</h1>
            </div>
        </div>
        <!--end of section title-->
        <div class="row bg3 p-4">
            <p>Mark Schlieps began plumbing at age 19 in the non-union sector, doing a wide variety of residential and commercial work. After 5 years he opened Plumb-Rite in 1988, specializing in residential remodels, repipes, and commercial tenant improvement and restaurants such as Red Robin and Azteca.</p>
            <p>After 11 successful years of business, Mark joined UA Local 32 Plumbers and Pipefitters. He cultivated 17 years of his career in the union working in the core of downtown Seattle and Bellevue, repiping occupied apartments and commercial buildings.</p>
            <p>Now, with over 35 years of experience, Mark owns and operates Hollow Log Plumbing and has returned to his roots in residential remodels and commercial tenant improvements.</p>
        </div>
    </div>
  </div>
</div>
<!--end of our story section-->

<!--why hollow log section-->
<div class="container-fluid gradientBg2 p-5">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">why</h1>
            <h1 class="section-title--special mx-1">hollow log?</h1>
        </div>
    </div>
    <!--end of section title-->   
    <div class="row mb-5">
        <div class="col-lg-6 pb-4">
            <div class="bg4 p-4">
                <p><strong><em>Hollow logs</em></strong> were used as early American water, sewer, and fire systems. As of 2009, Chelan, WA had over 500 feet of hollow log pipe still in use, as well as unused wood water pipe on display in their public works office.</p>
                <div class="sketch-photo mt-3 d-none d-sm-block"></div>
                <div class="caption text-center mb-3 d-none d-sm-block"><small>Mark's sketch of a museum piece in California</small></div>
                <p>Having worked on very old homes and buildings in the Seattle area for over 30 years, we grew to admire and respect the generations of plumbers who invented, designed, and built these systems. Hollow Log Plumbing is simply a nod of appreciation to the generations of plumbers that came before us.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hollowLogs-photo"></div>
        </div>
    </div>
</div>


<!--our philosophy section-->
<section class="about py-5 d-flex align-items-center">
    <div class="video-container">
         <video class="video-item" autoplay loop muted>
            <source src="video/blurSunset.mp4" type="video/mp4">Your browser does not support video tag
        </video>
    </div>
    <div class="container py-3">
        <!--section title-->
        <div class="row my-4">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                <h1 class="font-weight-bold align-self-center mx-1">our</h1>
                <h1 class="section-title--special mx-1">philosophy</h1>
            </div>
        </div>
        <!--end of section title-->
        <div class="row my-3">
            <!-- col -->
            <div class="col-8 mx-auto col-lg-4 col-md-4 my-3 text-center">
                <div class="philosophy p-3">
                    <span class="service-icon">
                        <i class="fas fa-hands-helping"></i>
                    </span>
                    <h5 class="text-capitalize">Good communication is paramount to a good relationship</h6>
                </div>
            </div>
            <!-- end col -->
            <!-- col -->
            <div class="col-8 mx-auto col-lg-4 col-md-4 my-3 text-center">
                <div class="philosophy p-3">
                    <span class="service-icon">
                        <i class="fas fa-people-carry"></i>
                    </span>
                    <h5 class="text-capitalize">Construction is a problem needing to be solved</h6>
                </div>
            </div>
            <!-- end col -->
            <!-- col -->
            <div class="col-8 mx-auto col-lg-4 col-md-4 my-3 text-center">
                <div class="philosophy p-3">
                    <span class="service-icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <h5 class="text-capitalize">The sanctity of another's home no matter their means</h6>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</section>

<% include ./partials/footer %>