<% include ./partials/header %>

<div class="container py-5">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">contact</h1>
            <h1 class="section-title--special mx-1">us</h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row">
        <div class="col-lg-6 col-11 mx-auto p-5 my-3 bg5">
            <h1 class="display-5"><strong>Mark Schlieps</strong></h1>
            <br>
            <h6><i class="fas fa-phone"></i> 206-999-6387 (cell)</h6>
            <h6><i class="fas fa-phone"></i> 360-730-2346 (office)</h6>
            <h6><i class="fas fa-envelope"></i> <a href="mailto:hollowlogplumbing@gmail.com">hollowlogplumbing@gmail.com</a></h6>
            <h6><i class="fas fa-toolbox"></i> <strong>Service Area:</strong> South Whidbey Island</h6>
            <div class="text-center pt-2">
                <hr>
                <h5>We are happy to work directly with you or your contractor</h5>
                <hr>
            </div>
        </div>
        <div class="col-lg-6 col-11 mx-auto my-3">
            <div class="embed-responsive embed-responsive-4by3">
                <!--remember to add class "embed-responsive-item" to iframe-->
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105874.86359165686!2d-122.53200798104828!3d48.00604811093445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548ff93693d015d7%3A0x511d5d8a2d9d7942!2sLangley%2C+WA+98260!5e0!3m2!1sen!2sus!4v1539405447733" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>