<% include ./partials/header %>

<h1>Contact Us</h1>

<hr>
<p><strong>Mark Schlieps</strong></p>
<p><i class="fas fa-phone"></i> 206-999-6387 (cell)</p>
<p><i class="fas fa-phone"></i> 360-730-2346 (office)</p>
<p><i class="fas fa-envelope"></i> <a href="mailto:hollowlogplumbing@gmail.com">hollowlogplumbing@gmail.com</a></p>

<p>Langley WA</p>

<hr>
<p><i class="fas fa-toolbox"></i> <strong>Service Area:</strong> South Whidbey Island</p>
<p>WE ARE LICENSED, BONDED, AND INSURED<br>License # HOLLOLP850PH</p>

<% include ./partials/footer %>