<% include ./partials/header %>

<header class="jumbotron">
    <div id="content" class="container">
        <h1 id="homeTitle">Hollow Log Plumbing</h1>
        <h2><i class="fas fa-wrench"></i> Residential and Commercial | Whidbey Island</h2>
    </div>
    <p><a class="btn btn-lg btn-green" href="/about" role="button">Learn more &raquo;</a></p>
</header>

<div class="row">
  <div class="col-md-12">
        <h5 style="text-align: center;">Repairs - Repipes - Remodels - Restorations - Restaurants - Tenant Improvements - New Construction - Maintenance</h5>
    </div>
</div>

<hr>

<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Why "Hollow Log"?</h2>
            <p id="column">Hollow logs were used as early American water, sewer, and fire systems...</p>
            <p><a class="btn btn-secondary" href="/about" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Products</h2>
            <p id="column">Patented plumbing and construction materials designed by Mark Schlieps.</p>
            <p><a class="btn btn-secondary" href="/products" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Free Estimate</h2>
            <p id="column">Call or email Mark Schlieps now for a free estimate and quick response.</p>
            <p><a class="btn btn-secondary" href="/contact" role="button">View details &raquo;</a></p>
          </div>
        </div>

<% include ./partials/footer %>