<% include ./partials/header %>

<div class="container py-5">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">plumbers</h1>
            <h1 class="section-title--special mx-1">support pillow</h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row">
        <!--left 1-->
        <div class="col-lg-6 pt-4">
            <picture>
                <source srcset="img/pillow1.webp" type="image/webp" class="img-fluid rounded-circle">
                <source srcset="img/pillow1.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                <img src="img/pillow1.jpg" alt="photo" class="img-fluid rounded-circle">
            </picture>
        </div>
        <!--right 1-->
        <div class="col-lg-6 pt-5">
            <div class="row d-flex justify-content-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="5VW86HV9YGUFC">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <h1 class="display-5">$49.95</h1>
            </div>
            <blockquote class="blockquote text-right p-3">
                  <p>
                    <i class="fas fa-quote-left fa-2x mr-3"></i>
                    The <em>Plumbers Support Pillow</em> is ergonomically designed to correctly support and stabilize the spinal vertebra and muscle structure while working on the back. This support can help reduce and prevent neck and back injuries.
                  </p>
                  <footer class="blockquote-footer text-left">Dr. Steve Sanderson, D.C.<br><small>Doctor of Chiropractic<br>Seatac, Washington</small></footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <!--left 2-->
        <div class="col-lg-6 p-4">
            <h1>Features</h1>
            <hr>
            <ul>
                <li>Two identical support cushions</li>
                <li>Fits over cabinet toekicks</li>
                <li>Brings you closer to your work</li>
                <li>Made of lightweight comfortable foam with a durable, removable, washable, urethane coated Cordura&copy; cover</li>
                <li>Can be flexibly joined or separated for versatility in different situations</li>
                <li>Folds to a compact 13" x 18" x 8" size</li>
                <li>Unfolds to a 36" length for full upper body support</li>
                <li>Easy-to-carry handle</li>
                <li>Is perfect for both professional contractors and do-it-yourselfers</li>
                <li>Made in the USA</li>
            </ul>
        </div>
        <!--right 2-->
        <div class="col-lg-6 my-3 align-self-center">
            <div id="example" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
              <!--indicators-->
              <ul class="carousel-indicators">
                <li data-target="#example" data-slide-to="0" class="active"></li>
                <li data-target="#example" data-slide-to="1"></li>
                <li data-target="#example" data-slide-to="2"></li>
              </ul>
              <!--images-->
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <picture>
                        <source srcset="img/pillow2.webp" type="image/webp" class="img-fluid rounded-circle">
                        <source srcset="img/pillow2.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                        <img src="img/pillow2.jpg" alt="photo" class="img-fluid rounded-circle">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source srcset="img/pillow3.webp" type="image/webp" class="img-fluid rounded-circle">
                        <source srcset="img/pillow3.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                        <img src="img/pillow3.jpg" alt="photo" class="img-fluid rounded-circle">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source srcset="img/pillow4.webp" type="image/webp" class="img-fluid rounded-circle">
                        <source srcset="img/pillow4.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                        <img src="img/pillow4.jpg" alt="photo" class="img-fluid rounded-circle">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source srcset="img/pillow5.webp" type="image/webp" class="img-fluid rounded-circle">
                        <source srcset="img/pillow5.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                        <img src="img/pillow5.jpg" alt="photo" class="img-fluid rounded-circle">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source srcset="img/pillow6.webp" type="image/webp" class="img-fluid rounded-circle">
                        <source srcset="img/pillow6.jpg" type="image/jpeg" class="img-fluid rounded-circle"> 
                        <img src="img/pillow6.jpg" alt="photo" class="img-fluid rounded-circle">
                    </picture>
                </div>
              </div>
              <!--end of images-->
              <!--controls-->
              <a href="#example" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a href="#example" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
      </div>
      <!--end right column-->
    </div>
</div>

<% include ./partials/footer %>