<% include ./partials/header %>

<div class="container py-5">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">our</h1>
            <h1 class="section-title--special mx-1">products</h1>
        </div>
    </div>
    <!--end of section title-->
    <hr class="my-4">
    <div class="row">
        <div class="col-11 mx-auto p-3 text-center">
            <h1 class="display-1">Products section coming soon!</h1>
        </div>
    </div>
    <hr>
</div>

<% include ./partials/footer %>