<% include ./partials/header %>

<!--header-->
<div class="container-fluid header-services p-5">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1 text-shadow">our</h1>
            <h1 class="section-title--special mx-1">services</h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row align-items-center">
        <div class="col-lg-8 col-md-10 my-5 mx-auto">
            <!--accordian-->
            <div id="accordian" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0 text-uppercase text-center">
                            <a data-toggle="collapse" href="#collapseOne">
                                <i class="fa fa-chevron-down mr-1"></i>
                                repairs
                            </a>
                        </h5>
                    </div>
                    <!--end of card header-->
                    <!--card body-->
                    <div id="collapseOne" class="collapse" role="tabpanel" data-parent="#accordian">
                        <div class="card-body text-center">
                            Everything from a simple faucet to hot water tanks to sewer systems. If it's broken we can fix it.
                        </div>
                    </div>
                </div>
                <!--end of card-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0 text-uppercase text-center">
                            <a data-toggle="collapse" href="#collapseTwo">
                                <i class="fa fa-chevron-down mr-1"></i>
                                repipes
                            </a>
                        </h5>
                    </div>
                    <!--end of card header-->
                    <!--card body-->
                    <div id="collapseTwo" class="collapse" role="tabpanel" data-parent="#accordian">
                        <div class="card-body text-center">
                            Replacing old, out of date galvanized plumbing systems with PEX and copper.
                        </div>
                    </div>
                </div>
                <!--end of card-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0 text-uppercase text-center">
                            <a data-toggle="collapse" href="#collapseThree">
                                <i class="fa fa-chevron-down mr-1"></i>
                                remodels
                            </a>
                        </h5>
                    </div>
                    <!--end of card header-->
                    <!--card body-->
                    <div id="collapseThree" class="collapse" role="tabpanel" data-parent="#accordian">
                        <div class="card-body text-center">
                            Updating and adding to existing bathrooms, kitchens, laundry rooms, etc.
                        </div>
                    </div>
                </div>
                <!--end of card-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0 text-uppercase text-center">
                            <a data-toggle="collapse" href="#collapseFour">
                                <i class="fa fa-chevron-down mr-1"></i>
                                restaurants
                            </a>
                        </h5>
                    </div>
                    <!--end of card header-->
                    <!--card body-->
                    <div id="collapseFour" class="collapse" role="tabpanel" data-parent="#accordian">
                        <div class="card-body text-center">
                            Remodeling or repairing new or existing restaurants.
                        </div>
                    </div>
                </div>
                <!--end of card-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                        <h5 class="mb-0 text-uppercase text-center">
                            <a data-toggle="collapse" href="#collapseFive">
                                <i class="fa fa-chevron-down mr-1"></i>
                                tenant improvements
                            </a>
                        </h5>
                    </div>
                    <!--end of card header-->
                    <!--card body-->
                    <div id="collapseFive" class="collapse" role="tabpanel" data-parent="#accordian">
                        <div class="card-body text-center">
                            Improvements on existing commercial spaces and remodels. This includes adding plumbing or fixtures, and moving, changing, or updating existing plumbing.
                        </div>
                    </div>
                </div>
                <!--end of card-->
            </div>
        </div>
    </div>
</div>
<!--end of header-->

<!--gallery section-->
<div class="container-fluid py-5 gradientBg">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">our</h1>
            <h1 class="section-title--special mx-1">gallery</h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row parent-container px-3">
        <!--gallery item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
                <img src="img/gallery-item-1.jpg" class="img-fluid item-img" alt="gallery item">
                <a href="img/gallery-item-1.jpg">
                    <h1 class="text-uppercase text-center item-link px-3">laundry room</h1>
                </a>
            </div>
        </div>
        <!--end gallery item-->
        <!--gallery item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
                <img src="img/gallery-item-2.jpg" class="img-fluid item-img" alt="gallery item">
                <a href="img/gallery-item-2.jpg">
                    <h1 class="text-uppercase text-center item-link px-3">braeburn restaurant</h1>
                </a>
            </div>
        </div>
        <!--end gallery item-->
        <!--gallery item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
                <img src="img/gallery-item-3.jpg" class="img-fluid item-img" alt="gallery item">
                <a href="img/gallery-item-3.jpg">
                    <h1 class="text-uppercase text-center item-link px-3">shower heads</h1>
                </a>
            </div>
        </div>
        <!--end gallery item-->
        <!--gallery item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
                <img src="img/gallery-item-4.jpg" class="img-fluid item-img" alt="gallery item">
                <a href="img/gallery-item-4.jpg">
                    <h1 class="text-uppercase text-center item-link px-3">kitchen piping</h1>
                </a>
            </div>
        </div>
        <!--end gallery item-->
        <!--gallery item-->
        <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
                <img src="img/gallery-item-5.jpg" class="img-fluid item-img" alt="gallery item">
                <a href="img/gallery-item-5.jpg">
                    <h1 class="text-uppercase text-center item-link px-3">filtration system</h1>
                </a>
            </div>
        </div>
        <!--end gallery item-->
    </div>
</div>

<!--before and after section-->
<div class="container-fluid px-5 py-3 before-after-bg">
    <!--section title-->
    <div class="row my-4">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">before</h1>
            <h1 class="section-title--special mx-1">after</h1>
        </div>
    </div>
    <!--end of section title-->
    <!--button group-->
    <div class="row">
        <div class="col text-center">
            <div class="btn-group custom-button btn-group-lg mb-5 button-group filter-button-group" role="group">
                <button type="button" class="btn text-uppercase" data-filter="*">all</button>
                <button type="button" class="btn text-uppercase" data-filter=".before">before</button>
                <button type="button" class="btn text-uppercase" data-filter=".after">after</button>
            </div>
        </div>
    </div>
    <!--end of button group-->
    <!--images row-->
    <div class="row grid before-after">
        <!--single image-->
        <div class="col-sm-6 my-3 before">
            <article class="img-container">
                <img src="img/before-1.jpg" class="img-fluid before-after-image">
                <h2 class="text-center text-capitalize image-description px-3">
                    before:<br><small>nothing supported,<br>too many 90s,<br>no isolation valves</small>
                </h2>
            </article>
        </div>
        <!--end of single image-->
        <!--single image-->
        <div class="col-sm-6 my-3 after">
            <article class="img-container">
                <img src="img/after-1.jpg" class="img-fluid before-after-image">
                <h2 class="text-center text-capitalize image-description px-3">
                    after:<br><small>re-worked filter system</small>
                </h2>
            </article>
        </div>
        <!--end of single image-->
        <!--single image-->
        <div class="col-sm-6 my-3 after">
            <article class="img-container">
                <img src="img/after-2.jpg" class="img-fluid before-after-image">
                <h2 class="text-center text-capitalize image-description px-3">
                    after:<br><small>correctly installed hot water tank</small>
                </h2>
            </article>
        </div>
        <!--end of single image-->
        <!--single image-->
        <div class="col-sm-6 my-3 before">
            <article class="img-container">
                <img src="img/before-2.jpg" class="img-fluid before-after-image">
                <h2 class="text-center text-capitalize image-description px-3">
                    before:<br><small>poorly installed hot water tank</small>
                </h2>
            </article>
        </div>
        <!--end of single image-->
    </div>
</div>

<% include ./partials/footer %>