<% include ./partials/header %>

<h1>Services</h1>
<hr>
<ul id="services">
    <li>Repairs</li>
    <li>Repipes</li>
    <li>Remodels</li>
    <li>Restorations</li>
    <li>Restaurants</li>
    <li>Tenant Improvements</li>
    <li>New Construction</li>
    <li>Maintenance</li>
</ul>

<!--<p>-->
<!--Backflow Preventer Installation-->
<!--Bathtub Installation-->
<!--Conventional Electric Water Heater Installation-->
<!--Conventional Gas Water Heater Installation-->
<!--Conventional Water Heater Installation-->
<!--Drain Cleaning-->
<!--Drain Installation-->
<!--Drain Unclogging-->
<!--Drains-->
<!--Faucet Installation-->
<!--Faucet Repair-->
<!--Frozen Pipe Repair-->
<!--Hydro Jetting-->
<!--Lead Pipe Replacement-->
<!--Plumbing-->
<!--Plumbing Fixtures-->
<!--Plumbing Fixtures Installation-->
<!--Plumbing Fixtures Repair-->
<!--Plumbing Inspection-->
<!--Plumbing Leak Detection and Repair-->
<!--Plumbing Re-Piping-->
<!--Rough Plumbing and Pipe Fitting-->
<!--Shower Installation-->
<!--Sink Installation-->
<!--Steam Fitting-->
<!--Sump Pump Installation-->
<!--Sump Pump Repair-->
<!--Sump Pumps-->
<!--Tankless Electric Water Heater Installation-->
<!--Tankless Gas Water Heater Installation-->
<!--Tankless Water Heater Installation-->
<!--Toilet Installation-->
<!--Toilet Repair-->
<!--Trenchless Underground Pipe Replacement-->
<!--Water Heater Inspection-->
<!--Water Heater Installation-->
<!--Water Heater Repair-->
<!--Water Heaters-->
<!--Water Leak Detection and Repair-->
<!--Water Line Installation-->
<!--Water Main Installation-->
<!--Water Main Repair-->
<!--Water Purification Systems-->
<!--Water Quality-->
<!--Water Softener Installation-->
<!--Water Softener Repair-->
<!--Water Softeners-->
<!--Whole House Water Purification System Installation-->
<!--Whole House Water Purification System Repair-->
<!--</p>-->

<p><i class="fas fa-toolbox"></i> Servicing South Whidbey Island.</p>
<hr>
<p><strong>Call or email now for a free estimate:</strong><br>
<i class="fas fa-phone"></i> 206-999-6387 (cell)<br>
<i class="fas fa-phone"></i> 360-730-2346 (office)<br>
<i class="fas fa-envelope"></i> <a href="mailto:hollowlogplumbing@gmail.com">hollowlogplumbing@gmail.com</a></p>
<p>WE ARE LICENSED, BONDED, AND INSURED<br>License # HOLLOLP850PH</p>

<% include ./partials/footer %>